.homeContainer {
    padding: 50px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}


.recentUpdates {
    margin-top: 20px; /* Adjust spacing as needed */
    padding: 10px;
    border-radius: 5px; /* Rounded corners */
    text-align: left; /* Align text to the left */
}

.recentUpdates h2 {
    font-size: 1.75rem;
    color: #333; /* Example color for h2 */
}

.recentUpdates p {
    font-size: 1rem;
    color: #666; /* Example color for p */
}