/* MarkdownComponent.module.css */

.markdownContainer {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 1rem;
    line-height: 1.6;
    padding: 100px;
  }
  
  .markdownContent {
    /* Styles for Markdown content */
  }
  
  .paragraph {
    /* Styles for paragraphs */
  }
  
  .heading1 {
    /* Styles for heading level 1 */
  }
  
  .heading2 {
    /* Styles for heading level 2 */
  }
  
  /* Add more styles as needed */
  