/* src/components/NoteViewer/NoteViewer.module.css */
.noteWrapper {
    max-width: 800px;
    margin: 40px auto 0;
    padding: 0 20px;
}

.noteTitle {
    font-size: 1.5rem;
    line-height: 1.3;
    color: #111;
    margin-bottom: 24px;
}

.noteContainer {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', serif;
    background-color: #f9f9f9; /* Light background for contrast */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.noteContainer p {
    line-height: 1.6; /* Improved readability */
    color: #555; /* Slightly lighter text color */
}

.noteContainer a {
    color: #007bff; /* Link color */
    text-decoration: none; /* Remove underline */
}

.noteContainer a:hover {
    text-decoration: underline; /* Underline on hover */
}